##1. Обработка датасета

импортируем нужные библиотеки все тип

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno  # для визуализации пропусков
import warnings
warnings.filterwarnings('ignore')

# Настройки отображения
pd.set_option('display.max_columns', None)
plt.style.use('seaborn-v0_8')

In [26]:
df = pd.read_csv('cian_flats.csv')


df.head()

,url,title,price,address,area,floor,year,metro_name,metro_time,house_type,_error
0,https://www.cian.ru/sale/flat/323603252/,"Продается 3-комн. квартира, 439 м²",1 528 010 000 ₽,"Москва, ЦАО, р-н Хамовники, 3-й Обыденский пер...",439 м²,1 из 6,NaN,Кропоткинская,5 мин.,Монолитный,NaN
1,https://www.cian.ru/sale/flat/322592319/,"Продается 2-комн. квартира, 47 м²",33 900 000 ₽,"Москва, ЦАО, р-н Пресненский, Зоологическая ул...",47 м²,5 из 10,1971.0,Баррикадная,7 мин.,NaN,NaN
2,https://www.cian.ru/sale/flat/322116585/,"Продается 5-комн. квартира, 227 м²",92 000 000 ₽,"Москва, СЗАО, р-н Щукино, ул. Маршала Конева, ...",227 м²,2 из 27,2010.0,Октябрьское поле,5 мин.,Монолитный,NaN
3,https://www.cian.ru/sale/flat/310065847/,"Продается 2-комн. квартира, 100,2 м²",340 680 000 ₽,"Москва, ЦАО, р-н Арбат, Никитский бул., 6/20На...","100,2 м²",5 из 8,NaN,Арбатская,3 мин.,NaN,NaN
4,https://www.cian.ru/sale/flat/321742080/,"Продается многокомнатная квартира, 584 м²",1 134 184 800 ₽,"Москва, ЦАО, р-н Хамовники, Молочный пер., 7На...",584 м²,5 из 6,2006.0,Парк Культуры,8 мин.,Монолитный,NaN

In [27]:
df.info()
df.describe().T  
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24138 entries, 0 to 24137
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   url         24138 non-null  object
 1   title       21214 non-null  object
 2   price       18677 non-null  object
 3   address     18679 non-null  object
 4   area        18609 non-null  object
 5   floor       18606 non-null  object
 6   year        11038 non-null  float64
 7   metro_name  18591 non-null  object
 8   metro_time  18591 non-null  object
 9   house_type  14032 non-null  object
 10  _error      1 non-null      object
dtypes: float64(1), object(10)
memory usage: 2.0+ MB

(24138, 11)